.task {
    border-radius: 4px;
    background: var(--COLOR-GRAY);
    min-height: 5rem;
    color: var(--text-color);
    padding: 0.5em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 0.5rem;
    cursor: move;
}

.Wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.status {
    background: var(--COLOR-GRAY-LIGHT);
    font-size: small;
    padding: 0.25rem;
    border-radius: 4px;
}

.PLANNED {
    background: var(--COLOR-GRAY-LIGHT);
}

.ONGOING {
    background: var(--COLOR-ONGOING);
}

.DONE {
    background: var(--COLOR-DONE);
}

.iconWrapper svg {
    height: 1rem;
    cursor: pointer;
}

.SelectOptions {
    display: none;
}